# Build artifacts
build/
dist/

# Python compiled files and caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
coverage/

# Virtual environments
venv/
.venv/
env/
dist-windows/
